{% extends 'baseblog.html.twig' %}

{% block nav %}
		{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	hi this is a secure bit. temporary cause it just shows simple secure area defined by the comment in the controller.
</div>
{% endblock %}