{% extends 'base.html.twig' %}

{% block horiznav %}
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>  
</ul>
{% endblock %}

{% block sidenav %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </li>
</ul>
{% endblock %}


{% block body %}
{% endblock %}



