{% extends 'base.html.twig' %}

{% block horiznav %}
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link"  href="/" >Basic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nav == 'info' %} active {% endif %}" href="/info">Example Bootstrap</a>
  </li>  
</ul>
{% endblock %}

{% block sidenav %}
<ul class="nav flex-column nav-pills">
  <li class="nav-item">
    <a class="nav-link {% if nav == 'how' %} active {% endif %}" href="/how" >How can I build this</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </li>
</ul>
{% endblock %}


{% block body %}
{% endblock %}



