{% extends 'fullbase.html.twig' %}
{% block nav %}
<ul class="pure-menu-list">
	<li class="pure-menu-item"><a href="#" class="pure-menu-link">OMG!</a></li>
	<li class="pure-menu-item"><a href="#" class="pure-menu-link">OMG!</a></li>
	<li class="pure-menu-item"><a href="#" class="pure-menu-link">OMG!</a></li>
	<li class="pure-menu-item"><a href="#" class="pure-menu-link">OMG!</a></li>
</ul>
{% endblock %}
