{% extends 'baseblog.html.twig' %}
{% block nav %}
		{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<p>Hi I'm Alex Rigg, I've been developing web sites and database architecture for the past {{  years }} years using a variety of databases including POSTGRES ORACLE and MYSQL, on various platforms with various PHP frameworks. <br/>The example I am demonstrating on this site is the Symfony framework with MYSQL. No particular reason for this other than the popularity of the LAMP stack combination - ie Linux Apache Mysql and PHP. All these things are free and as with all development, frameworks help to speed development time while keeping code in a structure that is easy to read and find. <br/> 
	So this is build using the following: 
	<ul>
	<li>Ubuntu (operating system)</li>
	<li>Linux (operating system language)</li>
	<li>Apache (web server software)</li>
	<li>developed on a windows machine using VMware (virtual machine software)</li>
	<li>PHP 7 (scripting server side language for web apps)</li>
	<li>Symfony (a php framework 3.4)</li>
	<li>MYSQL. (database management system)</li>
	</ul>
	 Nothing will cost you money (ok apart from your machine and the windows on it already).<br/>

		I've created this as an experiment - its partly a simple example of symfony skills with bootstrap and various other implementations showing a simple web site built quickly that is responsive using existing well used stable libraries for php and html. The second bit is I'm going to show from scratch what you need to do to duplicate the site.<br/>
	</p><p>
	So theres a how to section on building everything I talk about in the site.
	<br/>

	</p>
</div>
{% endblock %}