{% extends 'baseblog.html.twig' %}
{% block nav %}
		{{ parent() }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<p>Hi I'm Alex Rigg, I've been developing  web sites databases and systems for the past {{  years }} years.<br/>  Using the most used set up I have been using, I will demonstrate and make as easy as I can to replicate here: 
	<ul>
	<li>Ubuntu</li>
	<li>Linux</li>
	<li> on a windows machine using VMware</li>
	<li>PHP</li>
	<li>Symfony (a framework)</li>
	<li>MYSQL.</li>
	</ul>
	 Nothing will cost you money (ok aprt from your machine and the windows on it already).<br/>

		I've created this as an experiment - its partly a simple example of symfony skills with bootstrap and various other implementations showing a responsive simple web site built upon my skills. The second bit is I'm going to show from scratch what you need to do to duplicate the site.<br/>
	</p><p>
	So theres a how to section on building everything I talk about in the site.
	</p>
</div>
{% endblock %}